/* GERAL */
body, html, div, span, a, ul, li, dl, dt, dd, section, header, p, form, fieldset, button, input{
	border: none; margin: 0; padding: 0; list-style: none; position: relative; text-decoration: none; outline: none; 
}
header, section, footer, aside, nav, main, article, figure, a, img, span, :after, :before { 
	display: block; 
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal !important; margin: 0;
}
html object{ display: none; }